*.a.out
game/game
IO/onezeros/a.out
IO/trees/a.out
aes-128/a.out
algorithms/astar/a.out
algorithms/fib/a.out
codejam/cookies/a.out
codejam/croptriangles/a.out
codejam/flights/a.out
codejam/lotery/a.out
codejam/magician/a.out
codejam/minesweeper/a.out
codejam/mousetrap/a.out
codejam/multibase/a.out
codejam/numbersets/a.out
codejam/partelf/a.out
codejam/textmessagingoutrage/a.out
codejam/therepeater/a.out
csr/a.out
curses/2048/a.out
game/main.o
interviews/sort/a.out
interviews/sort2/a.out
project_euler/1/a.out
project_euler/19/a.out
project_euler/2/a.out
project_euler/204/a.out
project_euler/24/a.out
project_euler/3/a.out
project_euler/31/a.out
project_euler/4/a.out
project_euler/48/a.out
project_euler/50/a.out
sudoku/a.out

