*.a.out
game/game
IO/onezeros/a.out
IO/trees/a.out
aes-128/a.out
algorithms/astar/a.out
algorithms/fib/a.out
codejam/cookies/a.out
codejam/croptriangles/a.out
codejam/flights/a.out
codejam/lotery/a.out
codejam/magician/a.out
codejam/minesweeper/a.out
codejam/mousetrap/a.out
codejam/multibase/a.out
codejam/numbersets/a.out
codejam/partelf/a.out
codejam/textmessagingoutrage/a.out
codejam/therepeater/a.out
csr/a.out
curses/2048/a.out
game/main.o
interviews/sort/a.out
interviews/sort2/a.out
project_euler/1/a.out
project_euler/19/a.out
project_euler/2/a.out
project_euler/204/a.out
project_euler/24/a.out
project_euler/3/a.out
project_euler/31/a.out
project_euler/4/a.out
project_euler/48/a.out
project_euler/50/a.out
sudoku/a.out
PA/2001/potega/a.out
PA/2001/silnia/a.out
PA/2001/wagabin/a.out
interviews/audio_analyze/Makefile
interviews/audio_analyze/OUTPUT.TXT
interviews/audio_analyze/in
interviews/audio_analyze/solution
interviews/audio_analyze/solution.o
interviews/audio_analyze/viewer.py
interviews/csr/1/a.out
interviews/csr/1/in
interviews/csr/1/out
interviews/csr/2/
interviews/solution.zip
interviews/thinkcell/a.out
interviews/thinkcell/fix.diff
studia/itomgr/ida_star/Makefile
studia/itomgr/ida_star/ida_star
studia/itomgr/ida_star/in
studia/itomgr/sma_star/a.out
studia/itomgr/sma_star/in
studia/itomgr/sussman/a.out
studia/itomgr/sussman/in
studia/rozproszone/rownolegly/Makefile
studia/rozproszone/rownolegly/Routing
studia/rozproszone/rownolegly/a
studia/rozproszone/rownolegly/blah
studia/rozproszone/rownolegly/main.o
studia/rozproszone/rownolegly/out
studia/rozproszone/rownolegly/routegenerator.o
studia/rozproszone/rownolegly/testdata/
studia/rozproszone/rownolegly/wyniki.dat
studia/rozproszone/sekwencyjny/Makefile
studia/rozproszone/sekwencyjny/README
studia/rozproszone/sekwencyjny/Routing
studia/rozproszone/sekwencyjny/main.o
studia/rozproszone/sekwencyjny/out
studia/rozproszone/sekwencyjny/routegenerator.o
studia/rozproszone/sekwencyjny/testdata/
tests/general/a.out
studia/inzwym/larm1095.log
studia/inzwym/missfont.log
studia/inzwym/zadania1.aux
studia/inzwym/zadania1.idx
studia/inzwym/zadania1.log
studia/inzwym/zadania1.pdf
studia/inzwym/zadania1.toc
studia/optymalizacja/q.log
studia/optymalizacja/solver.py
studia/optymalizacja/zadania1.aux
studia/optymalizacja/zadania1.log
studia/optymalizacja/zadania1.pdf
studia/optymalizacja/zadania1_contourtmp0.dat
studia/optymalizacja/zadania1_contourtmp0.script
studia/optymalizacja/zadania1_contourtmp0.table
studia/optymalizacja/zadania1_contourtmp1.dat
studia/optymalizacja/zadania1_contourtmp1.script
studia/optymalizacja/zadania1_contourtmp1.table
studia/optymalizacja/zadania1_contourtmp2.dat
studia/optymalizacja/zadania1_contourtmp2.script
studia/optymalizacja/zadania1_contourtmp2.table
studia/optymalizacja/zadania1_contourtmp3.dat
studia/optymalizacja/zadania1_contourtmp3.script
studia/optymalizacja/zadania1_contourtmp3.table
studia/optymalizacja/zadania1_contourtmp4.dat
studia/optymalizacja/zadania1_contourtmp4.script
studia/optymalizacja/zadania1_contourtmp4.table
studia/optymalizacja/zadania1_contourtmp5.dat
studia/optymalizacja/zadania1_contourtmp5.script
studia/optymalizacja/zadania1_contourtmp5.table
studia/optymalizacja/zadania2.aux
studia/optymalizacja/zadania2.log
studia/optymalizacja/zadania2.pdf
studia/optymalizacja/zadania2_contourtmp0.dat
studia/optymalizacja/zadania2_contourtmp0.script
studia/optymalizacja/zadania2_contourtmp0.table
studia/optymalizacja/zadania2_contourtmp1.dat
studia/optymalizacja/zadania2_contourtmp1.script
studia/optymalizacja/zadania2_contourtmp1.table
