#main {
	height:	500px;
	width: 	500px;
	margin: auto;
	border-radius: 50%;
	position: relative;
}

.part {
	height:	500px;
	width: 	500px;
	margin: 0;
	border-radius: 50%;
	position: absolute;
}

.test {
	font-size: 36px;
	color : black;
	text-align: center;
}
